<html>
<head>
<title> Admin: solicitudes de docentes </title>
{% load staticfiles %}


<script src=" {% static 'aaev/jquery.js' %}"></script>
<script src="{% static 'aaev/material.min.js' %}"></script>
<script src="{% static 'aaev/select/dist/mdl-selectfield.min.js' %}"></script>
<script src=" {% static 'aaev/jquery.validate.min.js' %}"></script>
<script src=" {% static 'aaev/jquery-validate-additional-methods.js' %}"></script>
<link rel="stylesheet" href="{% static 'aaev/select/dist/mdl-selectfield.min.css' %}">
<link rel="stylesheet" href="{% static 'aaev/material.css' %}"></link>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
<link rel="stylesheet" href=" {% static 'aaev/estiloIconos.css' %}"></link>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript">

//rechaza solicitud de registro y la elimina de la BD
	function rechazarSolicitud(event,idSolicitud){
		url = "rechazarSolicitud/" + idSolicitud + "/";
		$.post(url,function(data){
			$("#detallesRegistro").slideUp("fast", function(){
				$("#detallesRegistro").empty();
				$("#solicitud" + idSolicitud).slideUp();
				$("#mensajeExito").html("");
				$("#mensajeExito").html(data);
				$("#mensajeExito").show();
			});
		});	
	}

	function rechazarSolicitudMateria(event,idSolicitud){
		url = "rechazarSolicitudMateria/" + idSolicitud + "/";
		$.post(url,function(data){
			$("#detallesSolicitud").slideUp("fast", function(){
				$("#detallesSolicitud").empty();
				$("#solicitud" + idSolicitud).slideUp();
				$("#mensajeExito").html("");
				$("#mensajeExito").html(data);
				$("#mensajeExito").show();
			});
		});	
	}

	function rechazarTodas(event){
		event.preventDefault();
		url = "rechazarTodasSolicitudes/";
		$("#solicitudes").slideUp();
		
		$.post(url,function(data){
			$("#detallesSolicitud").slideUp("fast", function(){
				$("#detallesSolicitud").empty();
				$("#cuerpoSolicitudesRegistro").empty()
				$("#mensajeSolicitudesRegistro").show()
				$("#mensajeSolicitudesRegistro").html("No hay solicitudes de registro")
				$("#mensajeExito").html("");
				$("#mensajeExito").html(data);
				$("#mensajeExito").show();
			});
		});	

	}

	function rechazarTodasMaterias(event){
		event.preventDefault();
		url = "rechazarTodasSolicitudesMateria/";
		$.post(url,function(data){
			$("#detallesSolicitud").slideUp("fast", function(){
				$("#detallesSolicitud").empty();
				$("#accionesSolicitudMateria").empty();
				$("#cuerpoSolicitudesMateria").empty();
				var mensaje = $("<h4 style='color:red;'>No hay solicitudes de materias </h4>");
				$("#cuerpoSolicitudesMateria").append(mensaje);
				$("#mensajeSolicitudesMateria").html("No hay solicitudes de materias")
				$("#mensajeExito").html("");
				$("#mensajeExito").html(data);
				$("#mensajeExito").show();
			});
		});	

	}

	function aceptarSolicitud(event,idSolicitud){
		var idMateria = $("#menuMateria option:selected").val();
		var url = "aceptarSolicitud/" + idSolicitud + "/" + idMateria + "/";
		if (idMateria != 0 && idMateria != null){
			$.post(url,function(data){
				$("#detallesRegistro").slideUp("fast", function(){
					$("#detallesRegistro").empty();
					$("#solicitud" + idSolicitud).slideUp();
					$("#mensajeExito").html("");
					$("#mensajeExito").html(data);
					$("#mensajeExito").show();
					$("#errorAceptar").html("");

				});
			});	
		}else
			$("#errorAceptar").html("Selecciona una materia para el docente");
	}

	function aceptarSolicitudMateria(event,idSolicitud){
		var idMateria = $("#menuMateria option:selected").val();
		var url = "aceptarSolicitudMateria/" + idSolicitud + "/" + idMateria + "/";
		console.log(idMateria);
		if (idMateria != 0 && idMateria != null){
			$("#errorSelectMateria").hide();
			$.post(url,function(data){
				$("#detallesSolicitud").slideUp("fast", function(){
					$("#detallesSolicitud").empty();
					$("#solicitud" + idSolicitud).slideUp();
					$("#mensajeExito").html("");
					$("#mensajeExito").html(data);
					$("#mensajeExito").show();
				});
			});	
		}else{
			$("#errorSelectMateria").show();
		}

	}

	function cambioSelect(){
		var elegido= $("#menuUniversidad :selected").val();
		if(elegido != 0){
		$("#carrerasElegir").empty();
		$("#materiasElegir").empty();
		var iduniversidad= $("#menuUniversidad :selected").val();
		
		var datos = {'iduniversidad': iduniversidad };
		$.ajax({
			method: "POST",
			url: iduniversidad + '/',  //metodo que trae la lista de carreras
			data: {iduniversidad: iduniversidad}, //iduniversidad
			datatype: 'html',
			success: function(resp){
					$("#carrerasElegir").html(resp); //imprimo el html armado, pero por alguna razon reimporta este html adentro
					$("#carrerasElegir").slideDown();
					componentHandler.upgradeAllRegistered();
				},
				error: function(xhr, status, error) {
			    var err = eval("(" + xhr.responseText + ")");
			    alert(err);
			        console.log("Error");
				}
			});

		}
	}
	function dialogoTodos(event){
		event.preventDefault();
		//uso de dialogo para confirmar la baja de un examen
		var dialog = document.querySelector('dialog');
		var titulo = dialog.querySelector('.mdl-dialog__title');
		if (! dialog.showModal) {
		   dialogPolyfill.registerDialog(dialog);
		}
		dialog.showModal(); //mostrar
		dialog.querySelector('.close').addEventListener('click', function() {
		      dialog.close(); //habilitar cierre del dialogo
		});
		dialog.querySelector('.confirmar').addEventListener('click', function() {
		      dialog.close(); //habilitar cierre del dialogo
		});
	}

	function dialogoTodosMateria(event){
		event.preventDefault();
		//uso de dialogo para confirmar la baja de un examen
		var dialog = document.getElementById("rechazoMaterias");
		var titulo = dialog.querySelector('.mdl-dialog__title');
		if (! dialog.showModal) {
		   dialogPolyfill.registerDialog(dialog);
		}
		dialog.showModal(); //mostrar
		dialog.querySelector('.close').addEventListener('click', function() {
		      dialog.close(); //habilitar cierre del dialogo
		});
		dialog.querySelector('.confirmar').addEventListener('click', function() {
		      dialog.close(); //habilitar cierre del dialogo
		});
	}

	function detallesSolicitud(idSolicitud){
		var url = "detallesSolicitud/" + idSolicitud + "/";
		$.post(url, function(data){
			$("#detallesSolicitud").slideUp("fast");
			$("#detallesSolicitud").empty();
			$("#detallesRegistro").slideUp("fast", function(){
				$("#detallesRegistro").empty();
				$("#detallesRegistro").html(data);
				componentHandler.upgradeAllRegistered();
				$("#detallesRegistro").slideDown();
			});
		});
	}
	function detallesSolicitudMateria(idSolicitud){
		var url = "detallesSolicitudMateria/" + idSolicitud + "/";
		$.post(url, function(data){
			$("#detallesSolicitud").slideUp("fast");
			$("#detallesSolicitud").empty();
			$("#detallesSolicitud").slideUp("fast", function(){
				$("#detallesSolicitud").empty();
				$("#detallesSolicitud").html(data);
				componentHandler.upgradeAllRegistered();
				$("#detallesSolicitud").slideDown();
			});
		});
	}

	function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

	$(document).ready(function(){//si hago click en una de las opciones del select se activa el ajax
			//Si no usaba este seteo tiraba el error 403 (FORBIDDEN)
		$.ajaxSetup({ 
		     beforeSend: function(xhr, settings) {
		         function getCookie(name) {
		             var cookieValue = null;
		             if (document.cookie && document.cookie != '') {
		                 var cookies = document.cookie.split(';');
		                 for (var i = 0; i < cookies.length; i++) {
		                     var cookie = jQuery.trim(cookies[i]);
		                     // Does this cookie string begin with the name we want?
		                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                         break;
		                     }
		                 }
		             }
		             return cookieValue;
		         }
		             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		     } 
		});

		$("#menuUniversidad").on('change',function(){
			var elegido= $("#menuUniversidad :selected").val();
			if(elegido != 0){
				$("#carrerasElegir").empty();
				$("#materiasElegir").empty();
				var iduniversidad= $("#menuUniversidad :selected").val();
				
				var datos = {'iduniversidad': iduniversidad };
				$.ajax({
					method: "POST",
					url: iduniversidad + '/',  //metodo que trae la lista de carreras
					data: {iduniversidad: iduniversidad}, //iduniversidad
					datatype: 'html',
					success: function(resp){
						$("#carrerasElegir").html(resp); //imprimo el html armado, pero por alguna razon reimporta este html adentro
						$("#carrerasElegir").slideDown();
						componentHandler.upgradeAllRegistered();
					},
					error: function(xhr, status, error) {
					  var err = eval("(" + xhr.responseText + ")");
					  alert(err);
					  console.log("Error");
					}
				});

			}
		});
	});

</script>
<style>
#detallesRegistro{
	display: none;
}

.solicitudes{
    width: 40% !important;
    display: inline-block;
    vertical-align: top;
}

.demo-card-wide.mdl-card {
  width: 800px;
}

#carrerasElegir{
	width: inherit;
}

#boton{

	height: 50px;
}


#elegirUniversidad{
	width: auto;
}

.celdaTabla:hover{
	cursor: pointer;
}

#aceptarTodos{
	margin-right: 10%;
}



</style>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row  mdl-shadow--8dp">
				<span class="mdl-layout-title" style="color: white;"> AAEV 2.0 / Administrador {{admin.nombre}} {{admin.apellido}}</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation">
				<a id="botonInicio" style="color: white" class="mdl-navigation__link" 
					href="{% url 'aaev:inicioAdmin' %} "> Inicio </a>
				<form method="POST" action="{% url 'aaev:logoutAdmin'%}" name="form"  id="form">
				{% csrf_token %}
					<a id="boton" style="color: white;" class="mdl-navigation__link" onclick="document.getElementById('form').submit();" href="#">Cerrar sesi&#243;n</a>
				</form>
				</nav>
			</div>
		</header>
		<main class="mdl-layout__content" id="cuerpo">
			<div class="page-content ">
				<div style="margin-top: 6%;">
				<div class="success">
					<h4  style="display: none; font-size:16px; text-align: center; color: green" id="mensajeExito"></h4>
				</div>
					<h4 id="mensajeSolicitudes"></h4>
				<div id="contenedorSolicitudes">
					<div class="demo-card-wide mdl-card mdl-shadow--8dp mdl-cell solicitudes"  style="margin-left: 2%; margin-right: 5%;" id="solicitudes">
							<div  class="mdl-card__title mdl-card--expand"> 
								<h5 class="mdl-card__title-text"> Solicitudes de registro </h5>
							</div>
							<div class="mdl-card__supporting-text" style="text-align: -webkit-center;">
							{% if solicitudesRegistro %} 
								<div>
									<p> Solicitudes de registro de docentes. </p>
								</div>
								<div id="espacioMateriasSolicitadas">
										<table class="mdl-data-table mdl-js-data-table" id="tablaMateriasSolicitadas" style="width: auto; margin-bottom: 5%;">
										<thead>
											<tr>
												<th class="mdl-data-table-cel--non-numeric"> DNI </th>
												<th class="mdl-data-table-cel--non-numeric"> Nombre y apellido </th>
											</tr>
										</thead>
										<tbody>
										{% for solicitud in solicitudesRegistro %}
										
											<tr id="solicitud{{solicitud.idsolicitud_registro}}">
												<td id="solicitudRegistroDNI{{solicitud.idsolicitud_registro}}" class="celdaTabla" style="text-align:center;" 
													onclick="detallesSolicitud({{solicitud.idsolicitud_registro}})">
												{{solicitud.dni}}
												</td>
												<td id="solicitudRegistroNombre{{solicitud.idsolicitud_registro}}" class="celdaTabla" style="text-align:center;" onclick="detallesSolicitud({{solicitud.idsolicitud_registro}})">
												{{solicitud.nombre}} {{solicitud.apellido}}
												</td>
											</tr>
										{% endfor%}
										</tbody>
										</table>
									</div> <!--tabla -->
								</div> <!--cuerpo tarjeta -->
								<div class="mdl-card__actions mdl-card--border" style="text-align: center;">
									
									<button name="rechazarTodos" id="rechazarTodos" value="Rechazar" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-shadow--8dp" onclick="dialogoTodos(event)"> 
									Rechazar todos
									</button>
								</div><!--acciones tarjeta -->
						{% else %}
						<h4 id="mensajeSolicitudesRegistro" style="color: red; text-align: center;">No hay solicitudes de registro.</h4>
						<!-- </div>  supporting text -->	
					</div> <!--tarjeta -->
						{% endif %}
					</div> <!-- supporting text -->	
						<div class="demo-card-wide mdl-card mdl-shadow--8dp mdl-cell solicitudes" style="margin-left: 10%;" id="solicitudes">
							<div  class="mdl-card__title mdl-card--expand"> 
								<h5 class="mdl-card__title-text"> Solicitudes de materias </h5>
							</div>
							<div class="mdl-card__supporting-text" id="cuerpoSolicitudesMateria" style="text-align: -webkit-center;">
								{% if solicitudesMateria %}
									<div>
										<p> Solicitudes de materias de docentes. </p>
									</div>
									<div id="espacioMateriasSolicitadas">
										<table class="mdl-data-table mdl-js-data-table" id="tablaMateriasSolicitadas" style="width: auto; margin-bottom: 5%;">
										<thead>
											<tr>
												<th class="mdl-data-table-cel--non-numeric"> DNI </th>
												<th class="mdl-data-table-cel--non-numeric"> Nombre y apellido </th>
											</tr>
										</thead>
										<tbody>
										{% for solicitud in solicitudesMateria %}
										
											<tr id="solicitud{{solicitud.idsolicitud_materia}}">
												<td id="solicitudMateriaDNI{{solicitud.idsolicitud_materia}}" class="celdaTabla" style="text-align:center;" 
													onclick="detallesSolicitudMateria({{solicitud.idsolicitud_materia}})">
												{{solicitud.docente_iddocente.dni}}
												</td>
												<td id="solicitudRegistroNombre{{solicitud.idsolicitud_registro}}" class="celdaTabla" style="text-align:center;" onclick="detallesSolicitudMateria({{solicitud.idsolicitud_materia}})">
												{{solicitud.docente_iddocente.nombre}} {{solicitud.docente_iddocente.apellido}}
												</td>
											</tr>
										{% endfor%}
										</tbody>
										</table>
									</div> <!--tabla -->
								</div> <!--cuerpo tarjeta -->
								<div class="mdl-card__actions mdl-card--border" id="accionesSolicitudMateria" style="text-align: center;">
									
									<button name="rechazarTodos" id="rechazarTodos" value="Rechazar" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-shadow--8dp" onclick="dialogoTodosMateria(event)"> 
									Rechazar todos
									</button>
								</div><!--acciones tarjeta -->
								{% else %}
									<h4 style="color: red;">No hay solicitudes de materia.</h4>
								{% endif %}
						</div> <!--tarjeta -->
					</div><!-- Solicitudes Materias-->
				</div> <!--Contenedor solicitudes -->
					<!-- detalles solicitudesAdmin -->
					<div id="detallesSolicitud" style="text-align:center; margin-top: 5%;">
						
					</div><!-- detalles -->

					<div id="detallesRegistro" style="text-align:center; margin-top: 5%;">
						
					</div><!-- detalles -->

				</div> <!--contenido principal -->
<!--dialogo de confirmacion para rechazo a todos (REGISTRO)-->
<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title" id="tituloDialogo">Rechazar a todos</h4>
  <div class="mdl-dialog__content">
    <p id="cuerpoDialogo">
      ¿Seguro que quer&eacute;s rechazar a todos los docentes?
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close" style="color: red;">Cancelar</button>
    <button type="button" onclick="rechazarTodas(event)" class="mdl-button confirmar" style="color: green;" >Confirmar</button>
  </div>
</dialog>
<!-- fin del dialogo para el rechazo a todos-->
<!--dialogo de confirmacion para rechazo a todos (MATERIAS)-->
<dialog class="mdl-dialog" id="rechazoMaterias">
  <h4 class="mdl-dialog__title" id="tituloDialogo">Rechazar a todos</h4>
  <div class="mdl-dialog__content">
    <p id="cuerpoDialogo">
      ¿Seguro que quer&eacute;s rechazar a todos los docentes?
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close" style="color: red;">Cancelar</button>
    <button type="button" onclick="rechazarTodasMaterias(event)" class="mdl-button confirmar" style="color: green;" >Confirmar</button>
  </div>
</dialog>
<!-- fin del dialogo para el rechazo a todos-->
<!--dialogo de confirmacion para aceptar a todos-->
<dialog class="mdl-dialog" id="dialogoAceptarTodos">
  <h4 class="mdl-dialog__title" id="tituloDialogo">Aceptar a todos</h4>
  <div class="mdl-dialog__content">
    <p id="cuerpoDialogo">
      ¿Seguro que quer&eacute;s aceptar a todos los docentes?
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close" style="color: red;">Cancelar</button>
    <button type="button" onclick="aceptarTodas(event)" class="mdl-button confirmar" style="color: green;" >Confirmar</button>
  </div> 
</dialog> <!-- Fin de dialogo para aceptar a todos -->
</body>
</html>